/*
 Theme Name:   Mercury Child Theme
 Description:  This theme is a child theme of Twenty Sixteen built for Melissa Carter Design.
 Author:       mercury
 Author URI:   https://www.melissacarterdesign.com
 Template:     mercury
*/


@font-face {
    font-family: 'AllerRg';
    src: url('fonts/Aller.woff2') format('woff2'),
        url('fonts/Aller.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerBd';
    src: url('fonts/Aller-Bold.woff2') format('woff2'),
        url('fonts/Aller-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
}
img{
	max-width:100%;
	width:auto;
}
h1, h2, h3, h4, h5, h6, #testimonial-entries .testimonial_item .title, article.default-style.format-quote .entry-content, aside .widget_calendar caption, .cl_page_header .title_part .subtitle, .cl_team.style-simple .team-item .team-position, .cl_team.style-photo .team-item .team-position, .woocommerce-result-count, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce ul.products li.product:not(.style_large) .button, .extra_tools_wrapper .show-side-header, nav .codeless_custom_menu_mega_menu h6, .cl-mobile-menu nav > ul > li > a, .cl-btn:not(.btn-font-custom):not(.btn-style-simple_square), .blog-entries .fullimage_transparent-style h2, .grid-options label, .widget_service a, .shop-products .product_item .tags, .cl-price-rating .price, .woocommerce ul.products li.product .price del, .single-product .summary.entry-summary .price, .woocommerce .quantity .qty, .woocommerce div.product form.cart .button, .cl-review-info .average span.star, .woocommerce #reviews #comments .cl-user-info .woocommerce-review__author, table.shop_table .product-price .price, table.shop_table .woocs_special_price_code, table.shop_table .cart-subtotal td, table.shop_table .product-subtotal, .woocs_price_code > .woocommerce-Price-amount, .price > .woocommerce-Price-amount, .product-price > .woocommerce-Price-amount, .woocommerce-checkout-review-order-table tfoot td span, table.cart td.actions .coupon input[type="submit"], .cart-collaterals .order-total th, .shipping-calculator-form button[type="submit"], .woocommerce-order .cl-thankyou-data .woocommerce-order-details table th, .woocommerce-order .cl-thankyou-data .woocommerce-order-details table td.woocommerce-table__product-total, .woocommerce-order .cl-thankyou-data .woocommerce-order-details table tfoot th, .woocommerce-order .woocommerce-thankyou-order-received, .woocommerce table.wishlist_table .product-add-to-cart a, .woocommerce .track_order .form-row input[type="submit"], #customer_login.u-columns .login_div .or, .woocommerce-MyAccount-navigation ul li a, .woocommerce-MyAccount-content input[type="submit"], aside .widget.woocommerce .product-categories li, #site-header-cart .woocommerce-mini-cart__total, .cl_shop_tabbed .tabbed-tabs li a, .cl-btn span, .cl-shop-filter button, .cl-closed-section .close_section_button .anchor, .open-filters, .cl-portfolio-filter button, .portfolio-navigation.simple span, .cl-sidenav ul li a, .single-product-style-center .summary .inline-wishlist, #customer_login.u-columns form input[type="submit"]{
   font-family: 'Source Sans Pro', sans-serif !important;
   }
.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, .vc_section.vc_section-has-fill+.vc_section {
    padding-top: 0 !important;
}
.vc_column_container>.vc_column-inner {
    padding: 0 !important;
}
.header_container {
    background: #fff;
    box-shadow: 0px 2px 10px #f1f1f1;
    -webkit-box-shadow: 0px 2px 10px #f1f1f1;
    -moz-box-shadow:0px 2px 10px #f1f1f1;
}
body .header_container > .top_nav {
    background: transparent;
    padding: 34px 0;
}
.search-element .search-input input.search-field.input-search-field {
    background: transparent;
    border-color: #000 !important;
}
input.search-field.input-search-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a39a00;
  font-size:16px;
}
input.search-field.input-search-field::-moz-placeholder { /* Firefox 19+ */
  color: #a39a00;
  font-size:16px;
}
input.search-field.input-search-field:-ms-input-placeholder { /* IE 10+ */
  color: #a39a00;
  font-size:16px;
}
input.search-field.input-search-field:-moz-placeholder { /* Firefox 18- */
  color: #a39a00;
  font-size:16px;
}
body .header_container.header-top > .top_nav, body .header_container.header-bottom > .top_nav {
    height: 0;
    line-height: normal;
}
.header-col .header-el a {
    color: #000;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'AllerBd';
}
.header-col .cl-h-cl_socialicon .cl_socialicon a {
    border: 2px solid #000;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100px;
    color:#000;
}
/*.header_container.menu-full-style #navigation nav > ul > li:first-child > a {
    color: #b44b3d;
}
.header_container.menu-full-style #navigation nav > ul > li:nth-child(2) > a{
	color: #77ccc7;
}
.header_container.menu-full-style #navigation nav > ul > li:nth-child(3) > a{
	color: #facb3f;
}
.header_container.menu-full-style #navigation nav > ul > li:nth-child(4) > a{
	color: #12c776;
}
.header_container.menu-full-style #navigation nav > ul > li:last-child > a{
	color: #5e4cec;
} */
.cl_socialicon > a > i {
    color: #000;
    font-size: 20px !important;
    line-height: 32px !important;
}
.logo_image {
    z-index: 9;
    position: relative;
}
.header_container.menu-full-style #navigation nav > ul > li > a {
    font-family: 'AllerBd';
    font-size: 17px;
}
.slider-text h2 {
    color: #fff !important;
    font-size: 90px !important;
    font-weight: 500 !important;
    line-height: 100px !important;
}
.slider-text h4 {
    color: #fff !important;
    margin-top: 20px !important;
    font-size: 30px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
}
.slider-text a.btn-style-rounded {
    margin-top: 30px !important;
    padding: 6px 12px !important;
    font-size: 30px !important;
    font-weight: 500 !important;
    background: #2f2482;
    display: inline-block;
    color: #fff;
    height: 60px;
    width: 225px !important;
    text-align: center !important;
    line-height: 45px !important;
}
.wpb_revslider_element.wpb_content_element {
    margin-bottom: 0;
}
.section_2 p {
    margin: 0;
}
.section_2 img {
    margin-bottom: 20px !important;
}
body .section_2 .vc_column-inner {
    padding: 0;
}
body .section_2 .section_2_category {
    margin-bottom: 0;
}
.section_2 .section_2_category .upper-image {
    position: absolute;
    bottom: 175px;
    padding: 6px 20px;
    color: #000;
    font-size: 46px;
    left: 0;
    font-weight: 300;
    font-family: 'AllerBd';
}
.section_2 .section_2_category .upper-image span.cat_legend {
    display: inline-block;
    padding-top: 26px;
    font-size: 25px;
    width: 100%;
    line-height: 70px;
    font-weight: 300;
    font-family: 'AllerRg';
}
.section_2 .section_2_category .cat_text {
    text-align: center;
    padding: 18px 30px;
    color: #000;
    font-weight: 600;
    font-size: 28px;
    height: 125px;
    letter-spacing: 2px;
    line-height: 40px;
}
.section_2 .section_2_category.section_2_middlecategory .cat_text {
    background: #ccc;
}
.section_2 .section_2_category.section_2_middlecategory .upper-image {
    color: #fff;
}
.section_3 {
    padding: 75px 0;
}
body .section_3 .vc_general {
    background: transparent !important;
    border: none !important;
}
body .section_3 h3 {
    font-size: 50px;
    color: #fff;
}
span.yell {
    background: #2f2482;
    padding: 6px 12px;
    color: #fff;
}
.section_4 .cths_block {
    padding: 134px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
.section_4 .cths_block h4 {
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 15px;
    font-size: 28px;
    color: #000;
}
.section_4 .cths_block h4:after {
    content: "";
    border-bottom: 4px solid #000;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
}
.section_4 .cths_block .shopnowblock {
    line-height: 45px;
    font-size: 24px;
    color: #000;
}
.shopnowblock_btn {
    margin-top: 15px;
}
.shopnowblock_btn a.btn-style-rounded {
    font-size: 24px;
    color: #fff;
    border: 1px solid #2f2482 !important;
    text-transform: uppercase;
    height: 60px;
    line-height: 30px;
    background: #2f2482;
}
.shopnowblock_btn a.btn-style-rounded:hover {
    opacity:0.8;
}
.section_4 .cths_block .shopnowblock p.cthspara {
    margin-bottom: 0;
}
.section_4 .cths_image_block {
    margin: 0;
}
.section_5 {
    padding: 200px 0;
}
body .wpb_single_image.vc_align_left{
	margin:0;
}
.singleimage_block {
    margin-top: -36%;
}
.singleimage_block .section_5_left img {
    margin-left: 100px;
	}
	.section_5 .section_5_right {
    position: relative;
    z-index: 999;
}
.section_5 .section_5_right .discount_block h2 {
    color: #fff;
    font-size: 115px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.section_5 .section_5_right .discount_block h3 {
    color: #fff;
    font-weight: 400;
    font-size: 42px;
}
.section_5 .section_5_right .discount_block_text h4 {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.section_5 .section_5_right .discount_block_text h5 {
    color: #fff;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
}
.section_5 .section_5_right .discount_block {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
}
.section_5 .section_5_right .discount_block:before {
    content: "";
    border-top: 1px solid #fff;
    position: absolute;
    top: 0;
    width: 70%;
    left: 0;
    margin: 0 auto;
    right: 0;
}
.section_5 .section_5_right .discount_block:after {
    content: "";
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 0;
    width: 70%;
    left: 0;
    margin: 0 auto;
    right: 0;
}
.section_5 .section_5_right .discount_block_text {
    text-align: center;
}
.section_5 .section_5_right .discount_block_text {
    text-align: center;
}
.discount_block_shop {
    text-align: center;
    margin-top: 40px;
}
.discount_block_shop a.btn-style-rounded {
    color: #000;
    font-size: 24px;
    background: #fef200;
    border: 1px solid #fef200 !important;
    text-transform: uppercase;
    height: 60px;
    line-height: 30px;
    min-width: 40%;
}
.section_4 .cths_image_block{
    min-height: 650px;
    height: 650px;
}
.best_slr_title {
    text-align: center;
    margin-top: 0;
}
.classes_block {
    margin: 0 auto;
}
.section_2.vc_row {
    text-align: center;
    margin: 50px auto !important;
}
body .section_2 .vc_column-inner {
    border: 1px solid #ccc;
    width: 85%;
    margin: 0 auto;
    /* box-shadow: 0px 0px 10px #ccc; */
    /* -webkit-box-shadow: 0px 0px 10px #ccc; */
    /* -moz-box-shadow: 0px 0px 10px #ccc; */
}

.classes-card {
    padding-bottom: 100px;
    padding-top: 54px;
    position: relative;
}
.classes-card:before {
    content: "";
    position: absolute;
    background: rgba(47, 36, 130, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.classes-card .gender {
    display: inline-block;
    color: #fff;
    margin-top: 25px;
}
.classes-card .gender a {
    background: #000;
    padding: 4px 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-right: 10px;
	margin-top:0;
	border: 1px solid #fff;
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
}
.classes-card .gender a:hover {
	opacity:0.8;
	background: #2f2482;
}
.classes-card .gender br {
    display: none;
}
.classes-card .gender span.gender {
    padding-right: 0;
	margin: 0;
}
body .section_2 .vc_column-inner img {
    height: 80px;
}
body .section_2 .classes-card h5 {
    color: #fff;
    margin: 0;
    position: relative;
    font-size: 25px;
    padding-bottom: 10px;
}
body .section_2 .classes-card h5:after {
    content: "";
    border-bottom: 2px solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    right: 0;
    margin: 0 auto;
}
body .section_2 .classes-card h6 {
    color: #fff;
    font-size: 12px;
    position: relative;
    margin-top: 8px;
	display: none;
}
span.gender {
    display: block;
    margin-bottom: 8px;
    color: #262a2c;
}
.classes-card .gender:last-child span.gender {
    padding: 0;
}
body .best_slr_title h2 {
    font-size: 36px;
    text-transform: uppercase;
    color: #2f2482;
    letter-spacing: 1px;
    position:relative;
    display:inline-block;
}
body .header_container:not(.cl-header-light) .header-row:not(.extra_row) nav > ul > li a:hover{
    color: #2f2482 !important;
  }
.section_2 h5 {
    margin-bottom: 25px;
    margin-top: 12px;
}
.best_slr_title span.yell {
    padding: 6px 12px 6px 40px;
}
.seller_item .container.container-content {
    width: 100%;
    padding: 0;
}
.seller_item .shop-products .product_item .tags {
    padding: 6px 25px;
}
.seller_item .shop-products .product_item h3 {
    padding: 6px 25px;
}
.seller_item .cl-price-rating {
    padding: 6px 25px;
}

.get_look .look_block {
    padding: 134px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 846px;
    height: 846px;
}
.get_look .look_block .shopnowblock p.cthspara {
    margin-bottom: 50px;
}
.get_look .look_image_block img {
    height: 100%;
    object-fit: cover;
}
.get_look .look_block .shopnowblock {
    line-height: 45px;
    font-size: 24px;
    color: #000;
}
.get_look .look_block h4 {
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 15px;
    font-size: 32px;
    color: #000;
}
.get_look .look_block h4:after {
    content: "";
    border-bottom: 4px solid #000;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
}

.get_look .look_image_block {
    margin: 0;
}
.our_partner .wpb_wrapper {
    text-align: center;
    padding: 35px;
}
.our_partner .text-center h2 {
    color: #fff;
}
.our_partner p {
    color: #fff;
    font-size: 28px;
    margin: 50px auto;
    width: 70%;
    line-height: 40px;
}
.our_partner .shopnowblock_btn a.btn-style-rounded {
    color: #fef200;
    border-color: #fef200 !important;
    border-width: 2px !important;
}
span.black {
    background: #000;
    color: #fef200;
}
.testimonial_block {
    padding: 130px 0;
}
.testimonial_block .testimonial_title h2 {
    text-align: center;
    color: #000;
    text-transform: uppercase;
	font-size: 50px;
}
.testimonial_block .testimonial_title h2 span.black {
    padding-left: 25px;
}
.testimonial_block .testimonial-entries .testimonial_item .content {
    font-size: 30px;
    color: #000;
}
.testimonial_block .testimonial-entries .testimonial_item .title {
    font-size: 24px;
    color: #000;
}
.testimonial_block .testimonial-entries.style-simple_photo_circle .testimonial_item img {
    width: 215px;
    border: 5px solid #fff;
	margin-bottom:60px;
}
body .section_9 .section_9_left {
    text-align: center;
}
body .section_9 .section_5_right {
    padding: 120px 0;
}
body .section_9 .section_5_right h4 {
    font-size: 40px;
    color: #fef200;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
body .section_9 .section_5_right h4:after {
    content: "";
    border-bottom: 5px solid #fef200;
    position: absolute;
    bottom: 0;
    width: 185px;
    left: 0;
}
body .section_9 .section_5_right .shopnowblock p.cthspara {
    color: #fef200;
    font-size: 36px;
    line-height: 45px;
    margin-top: 50px;
}
body .section_9 .section_5_right .discount_block_shop {
    text-align: left;
    margin-top: 50px;
}
.section_9 .section_5_right .discount_block_shop a.btn-style-rounded {
    color: #fef200;
    border-color: #fef200 !important;
    border-width: 2px !important;
    background: transparent;
    min-width: 0;
}
.section_10 .quality-title h2 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
}
.section_10 .quality-title span.grey {
    font-weight: 600;
}
.section_10 .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0px !important;
}
.section_10 .quality-title {
    padding: 40px;
}
.section_10 .wpb_wrapper {
    padding: 5px;
}
.section_10 .wpb_single_image.vc_align_center {
    padding: 15px 12px;
}
.section_10 .wpb_text_column.wpb_content_element {
    padding: 18px 12px;
}
.section_10 .quality-title span.grey {
    font-family: "AllerBd";
}


body footer#colophon, #copyright input, #copyright select, #copyright textarea {
    background-color: #2f2482;
}
.footer-widget.center-column {
    width: 100%;
}
footer#colophon .widget {
    max-width: 100%;
}
footer .footer-left-text h4 {
    font-size: 36px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'AllerRg';
}
footer .footer-left-text h4 span.bold {
    font-weight: 600;
}
footer .footer-left-text p {
    font-size: 19px;
    color: #b6af00;
    margin-top: 10px;
}
footer#colophon .social_widget {
    padding: 0px 22px;
    height: auto;
    display: block;
}
footer .social-icons-widget li a i {
    font-size: 22px;
}
footer div#social_widget-3 {
    background: transparent;
    width: 100%;
    margin-top: 20px;
}
#footer-wrapper .container-fluid {
    padding: 4% 10%;
    border-top: 1px solid #fff;
}
#footer-wrapper .copyright-content.container-fluid {
    padding: 1% 10%;
}
footer#colophon .social_widget .social-icons-widget li a i {
    color: #ffffff;
}
.social_widget .social-icons-widget li {
    line-height: normal;
}
#copyright .widget ul li {
    font-size: 26px;
    line-height: normal;
}
body #copyright .widget ul li a {
    color: #fff !important;
}
#copyright .widget ul li a:after {
    content: none;
}
footer#colophon.site-footer {
    padding-bottom: 0;
    padding-top: 0;
}
body footer#colophon .widget_custom_html {
    padding-top: 50px !important;
}
footer#colophon  h3.widget-title {
    display: inline-block;
    background: #fff;
    font-size: 26px !important;
    padding: 30px 12px;
    margin-bottom: 0;
    font-family: "AllerBd" !important;
}
footer#colophon .widget.widget_custom_html:last-child {
    padding-top: 0 !important;
}
body footer#colophon .widget_recent_entries li {
    position: relative;
    padding-left: 85px;
    padding-top: 25px;
}
footer#colophon .widget_recent_entries li a {
    color: #000 !important;
    font-size: 20px;
}
footer#colophon .widget_recent_entries li:before {
    content: "";
    height: 75px;
    width: 75px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat !important;
    background-position: center center !important;
	z-index: 9;
}
footer#colophon .widget_recent_entries li:nth-child(1):before {
	background: url(/wp-content/uploads/2018/02/ico1.png);
}
footer#colophon .widget_recent_entries li:nth-child(2):before {
	background: url(/wp-content/uploads/2018/02/ico2.png);
}
footer#colophon .widget_recent_entries li:nth-child(3):before {
	background: url(/wp-content/uploads/2018/02/ico3.png);
}
footer#colophon .widget_recent_entries li:after {
    content: "";
    background: #313234;
    position: absolute;
    left: 0;
    top: 0;
    height: 90px;
    width: 75px;
}
footer#colophon.site-footer ul.social-icons-widget.boxed {
    padding: 25px 0 0;
}
footer#colophon.site-footer ul.social-icons-widget.boxed li {
    line-height: 42px;
    text-align: center;
    padding: 2px 0px !important;
    margin-bottom: 15px;
    margin-right: 24px;
}
body #copyright {
    background-color: #5e4cec;
}
footer#colophon .widget .boxed-style {
    height: 100%;
}
footer .textwidget .contact_info  {
    margin: 0;
    color: #fff;
    font-size: 18px;
    line-height: normal;
}
footer .textwidget .contact_info li {
    position: relative;
    padding-left: 85px;
    padding-top: 25px !important;
}
footer .textwidget .contact_info li:before {
    content: "";
    height: 75px;
    width: 75px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat !important;
    background-position: center center !important;
	z-index: 9;
}
footer .textwidget .contact_info li:nth-child(1):before {
	background: url(/wp-content/uploads/2018/02/ico4.png);
}
footer .textwidget .contact_info li:nth-child(2):before {
	background: url(/wp-content/uploads/2018/02/ico5.png);
}
footer .textwidget .contact_info li:nth-child(3):before {
	background: url(/wp-content/uploads/2018/02/ico6.png);
}
/*footer .textwidget .contact_info li:after {
    content: "";
    background: #313234;
    position: absolute;
    left: 0;
    top: 0;
    height: 90px;
    width: 75px;
}*/
#footer-wrapper #copyright {
    padding: 0;
}
#copyright .widget ul li a {
    font-size: 18px;
    text-transform: uppercase;
}
#copyright .widget ul li a:hover {
	color:#333 !important;
}
#copyright p {
    color: #fff;
    font-size: 18px;
    font-style: italic;
}

body .tawcvs-swatches .swatch-label {
    width: 87px !important;
}
.container {
    margin: 0 auto !important;
}
.quality-section .sqs {
    text-align: center;
    padding: 30px;
    margin: 0 12px;
    position: relative;
    box-shadow: 0px 1px 7px #ccc;
}
.quality-section .sqs img {
    height: auto;
}
.quality-section .sqs p {
    margin: 0;
    position: absolute;
    width: 100%;
    top: -35px;
    left: 0;
    right: 0;
}
.quality-section .sqs h3 {
    color: #12c776;
    font-size: 20px;
    line-height: 25px;
    padding: 20px 12px;
    width: 100%;
    text-transform: uppercase;
    margin-top: 35px;
    height: 75px;
    overflow: hidden;
    position: relative;
}
.quality-section .sqs h3:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #b44b3d;
    width: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.quality-section {
    padding-bottom: 30px;
    padding-top: 50px;
}
.affilated-section .affilate p {
    margin: 0;
}
.affilated-section {
    margin-top: 62px;
}
.affilated-section .affilate {
    text-align: center;
    padding: 0 100px;
}
.affilated-section .affilate img {
    height: auto;
}
.affilated-section .affilate h3 {
    text-align: center;
    margin-top: 25px;
    line-height: normal;
    font-size: 20px;
    padding: 6px 12px;
    background: #00519b;
    color: #fff;
}
.logo-section .affilate {
    text-align: center;
}
.logo-section .affilate p {
    margin: 0;
}
.logo-section .affilate img {
    height: 200px;
}
.logo-section .affilate h3 {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    line-height: normal;
}
.logo-section {
    padding: 50px 0 100px;
}
.logo-section img {
    height: 100px !important;
}
.logo-section h3 {
    /* color: #fff !important; */
    margin-top: 30px !important;
}

/* body .best_slr_title h2:before { */
    /* content: ""; */
    /* position: absolute; */
    /* border-bottom: 3px solid #2f2482; */
    /* left: -170px; */
    /* bottom: 30px; */
    /* width: 150px; */
/* } */
body .best_slr_title h2:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #2f2482;
    left: 0;
    bottom: 0;
    width: 100px;
    margin: 0 auto;
    right: 0;
}
.classes_block.our_servc .best_slr_title h2 {
    color: #fff;
}
body .classes_block.our_servc .best_slr_title h2:after {
    border-color: #fff;
}
.header_container.header-top > .main, .header_container.header-bottom > .main {
    height: auto;
    line-height: normal;
}
.navbar-topmost {
    color: #fffd00;
    background: #2f2482;
    display: inline-block;
    width: 100%;
    height: 40px;
    vertical-align: middle;
}
.our_partner .abt-school .wpb_wrapper {
    padding: 10px;
}
.our_partner .abt-school p {
    line-height: normal;
    margin: 0 auto 35px;
    width: 50%;
}
.our_partner .abt-school h2 {
    font-size: 22px;
}
/* .section_1 .rev_slider_wrapper:after { */
    /* content: ""; */
    /* position: absolute; */
    /* background: rgba(0,0,0,0.6); */
    /* width: 100%; */
    /* height: 100%; */
    /* left: 0; */
    /* top: 0; */
    /* z-index: 99; */
/* } */


body .about_section_title .best_slr_title {
    padding: 35px 0;
}

body .about_section_title .best_slr_title h2 {
    color: #fff;
}

body .about_section_title .best_slr_title h2:after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #fff;
    left: 0;
    bottom: 0;
    width: 100px;
    margin: 0 auto;
    right: 0;
}
body .about_section_title .best_slr_title  h3 {
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
}

.about_section_1.vc_row {
    margin-top: 40px !important;
    text-align: center;
    font-size: 15px;
}
.about_section_2 img {
    height: 100px;
}
body .about_section_2 {
    text-align: center;
    margin-top: 50px !important;
    margin-bottom: 70px !important;
}
body .about_section_2 h3.custom_font.h6 {
    font-size: 16px;
    margin: 15px auto;
	color: #12c776;
    font-weight: 600;
}
.about_section_2 p {
    width: 85%;
    margin: 0 auto;
    font-size: 15px;
	color: #333;
}
.home .tp-dottedoverlay.threexthreewhite {
    background: rgba(0, 0, 0, 0.6);
}
.about_section_1 p {
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    width: 85%;
	color: #333;
}

.registerstion-section {
    background: #fff;
    padding: 25px 0;
    position:relative;
    border-top: 5px solid #12c776;
}
/* .registerstion-section:before { */
    /* content: ""; */
    /* border-left: 3px solid #555; */
    /* position: absolute; */
    /* top: 0; */
    /* height: 50%; */
    /* width: auto; */
    /* left: -56px; */
/* } */
body #customer_login.u-columns .registerstion-section h5 {
    text-align: left !important;
    padding: 0px 30px 7px;
    color: #12c776;
    position: relative;
    margin-bottom: 15px;
    font-weight: bold;
}
body #customer_login.u-columns .registerstion-section h5:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #12c776;
    width: 100px;
}
body .woocommerce .registerstion-section form .form-row select {
    width: 100%;
    padding: 6px 2px;
    height: 34px;
    border: 1px solid #dbe1e6;
    font-size: 13px;
    color: #34495E;
    background: #fff;
}
#customer_login.u-columns .registerstion-section h5:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #FFF;
    bottom: 0;
    left: 30px;
    width: 100px;
}
#customer_login.u-columns .col-2.registerstion-section form label {
    color: #34495E !important;
    font-size: 12px;
    font-weight: 600;
}
#customer_login.u-columns .registerstion-section label span {
    color: #fff;
}
#customer_login.u-columns .registerstion-section form .form-row input.input-text {
    height: 34px;
}
#customer_login.u-columns .col-2.registerstion-section form {
    width: 90%;
}
body #customer_login.u-columns .login_div {
    background: transparent;
}
body #customer_login.u-columns .login_div h6 {
    color: #12c776;
    font-weight: bold;
}
body #customer_login.u-columns .login_div input {
    height: 34px;
}
body #customer_login.u-columns .login_div input#rememberme {
    height: auto;
}
body #customer_login.u-columns .login_div .other a {
    color: #34495E;
}
body #customer_login.u-columns .login_div input[type="submit"] {
    background: #42CED3;
}
body #customer_login.u-columns .col-2 form input[type="submit"] {
    background: #42CED3;
}
/* #customer_login.u-columns .col-1.login-section { */
    /* margin-top: -450px; */
/* } */
.login_div span.or {
    background: #34495E !important;
    color: #fff !important;
}
body #customer_login.u-columns .login_div .other label {
    color: #00519b;
}
.single-product .woocommerce-variation.single_variation {
    display: block !important;
}

#customer_login.u-columns h5 {
    color: #12c776;
}
.login-section .notes {
    padding: 15px;
    background: #fff;
    margin: 0 50px;
}
.login-section .notes h4 {
    font-size: 16px;
    line-height: normal;
    color: #fe896b;
}
.login-section .notes strong {
    color: #0097ca;
}
body #customer_login.u-columns .col-1.login-section form {
    width: auto;
}
body #customer_login.u-columns .col-1.login-section h5 {
    width: auto;
    font-weight: bold;
}
.uniform_section ul.vc_tta-tabs-list {
    text-align: center;
    display: table !important;
    width: 100%;
}
.uniform_section .vc_tta.vc_general .vc_tta-tab {
    display: table-cell;
    width: 50%;
}
body .uniform_section .vc_tta-tabs-container {
    margin-top: 60px !important;
}
.uniform_section .vc_tta.vc_general .vc_tta-tab.vc_active a {
    background: #2f2482;
    color: #fff;
}
body nav:not(.cl-dropdown-inline) .menu > li > ul.sub-menu, body nav:not(.cl-dropdown-inline) .menu > li > ul.sub-menu ul {
    border-top: 3px solid #12c776;
    padding: 10px;
}
body nav .menu li ul.sub-menu li a, body .cl-submenu a, body .cl-submenu .empty, body .tool .header_cart .total {
    font-weight: 600;
    color: #000;
}
body nav .menu li > ul.sub-menu li {
    border-bottom: 1px solid #77ccc7;
}
.header_container.menu-full-style #navigation nav > ul > li > a i {
    display: inline-block;
    font-size: 22px;
}
body .select2-container--open .select2-dropdown--above {
    opacity: 1;
}
.woocommerce div.product .woocommerce-tabs .panel {
    outline: none;
}
.contact_page .col-content {
    text-align: center;
}
	.contact_page .cl_service.align_left * {
    width: 100%;
    text-align: center;
}
.contact_page .cl-element.wrapper-heading {
    padding: 0 !important;
}
.contact_page .icon_wrapper.wrapper_circle {
    display: block;
    position: absolute;
    top: -70px;
    width: 100%;
    padding: 0 !important;
}
.contact_page .cl_service.media_aside {
    text-align: center;
    width: 100%;
}
.contact_page div.wpcf7-mail-sent-ok {
    width: 100%;
    margin: 0;
}
.contact_page input.wpcf7-form-control.wpcf7-submit.cl-btn.btn-style-square.btn-hover-darker {
    background: #2f2482;
    border-radius: 0;
    border: 1px solid #2f2482;
}
.contact_page input.wpcf7-form-control.wpcf7-text, .contact_page textarea.wpcf7-form-control.wpcf7-textarea {
    border-radius: 0;
    resize: none
}
.contact_page input.wpcf7-form-control.wpcf7-submit.cl-btn.btn-style-square.btn-hover-darker:hover {
    opacity: 0.8;
}
.contact_page .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    width: 100%;
    margin: 0;
    color: #f00;
    border-color: #f00;
}
.contact_page span.wpcf7-not-valid-tip {
    font-size: 12px;
}

.tooltip {
    display: inline-block;
    border-bottom: none;
    position: absolute;
    right: -22px;
    top: 34px;
}
.woocommerce form .form-row{
  position:relative;
  }
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    line-height: 24px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
body .woocommerce-MyAccount-navigation {
    margin-bottom: 15px;
    background: #fff;
    margin-top: 50px;
}
body .woocommerce-MyAccount-content {
    background: #fff;
    padding: 20px;
}
body .woocommerce-MyAccount-content form .form-row select {
    background: transparent;
    border: 1px solid #ccc;
    padding: 6px 8px;
    margin-top: 10px;
    color: #262A2C;
}
body .woocommerce-MyAccount-content form button.woocommerce-Button.button,body .woocommerce-MyAccount-content form button.button {
    background: #2f2482;
    color: #fff;
    border: 1px solid #2f2482;
    padding: 6px 12px;
    margin: 0 5px;
}
body .woocommerce-MyAccount-content form button.woocommerce-Button.button:hover,body .woocommerce-MyAccount-content form button.button:hover {
    opacity: 0.8;
}

.marquee {
	position:relative;
	overflow: hidden;
	height: 40px;
	-webkit-transition: background-color 350ms;
	-moz-transition: background-color 350ms;
    transition: background-color 350ms;
}

.marquee p {
    text-align: center;
    font-size: 18px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
	line-height: 40px;
}
.marquee p:nth-child(1) {
	animation: left-one 20s ease infinite;
	-moz-animation: left-one 20s ease infinite;
	-webkit-animation: left-one 20s ease infinite;
}
.marquee p:nth-child(2) {
	animation: left-two 20s ease infinite;
	-moz-animation: left-two 20s ease infinite;
	-webkit-animation: left-two 20s ease infinite;
}
.marquee.down p {
	transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
}
.marquee.down p:nth-child(1) {
	animation: down-one 20s ease infinite;
	-moz-animation: down-one 20s ease infinite;
	-webkit-animation: down-one 20s ease infinite;
}
.marquee.down p:nth-child(2) {
	animation: down-two 20s ease infinite;
	-moz-animation: down-two 20s ease infinite;
	-webkit-animation: down-two 20s ease infinite;
}
.marquee.up p {	
	transform:translateY(100%);
	-moz-transform:translateY(100%);
	-webkit-transform:translateY(100%);
}
.marquee.up p:nth-child(1) {
	animation: up-one 20s ease infinite;
	-moz-animation: up-one 20s ease infinite;
	-webkit-animation: up-one 20s ease infinite;
}
.marquee.up p:nth-child(2) {
	animation: up-two 20s ease infinite;
	-moz-animation: up-two 20s ease infinite;
	-webkit-animation: up-two 20s ease infinite;
}

/*================================
	Move the Marquee to the Left
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes left-one {
	0%	{
		-moz-transform:translateX(100%);
	}
	10% {
		-moz-transform:translateX(0);
	}
	40% {
		-moz-transform:translateX(0);
	}
	50% {
		-moz-transform:translateX(-100%);
	}
	100%{
		-moz-transform:translateX(-100%);
	}
}
@-moz-keyframes left-two {
	0% {
		-moz-transform:translateX(100%);
	}
	50% {
		-moz-transform:translateX(100%);
	}
	60% {
		-moz-transform:translateX(0);		
	}
	90% {
		-moz-transform:translateX(0);		
	}
	100%{
		-moz-transform:translateX(-100%);
	}
}
/** Webkit Keyframes **/
@-webkit-keyframes left-one {
	0% {
		-webkit-transform:translateX(100%);
	}
	10% {
		-webkit-transform:translateX(0);
	}
	40% {
		-webkit-transform:translateX(0);
	}
	50% {
		-webkit-transform:translateX(-100%);
	}
	100%{
		-webkit-transform:translateX(-100%);
	}
}
@-webkit-keyframes left-two {
	0% {
		-webkit-transform:translateX(100%);
	}
	50% {
		-webkit-transform:translateX(100%);
	}
	60% {
		-webkit-transform:translateX(0);		
	}
	90% {
		-webkit-transform:translateX(0);		
	}
	100%{
		-webkit-transform:translateX(-100%);
	}
}

/*================================
	Move the Marquee Downwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes down-one {
	0%	{
		-moz-transform:translateY(-100%);
	}
	10% {
		-moz-transform:translateY(0);
	}
	40% {
		-moz-transform:translateY(0);
	}
	50% {
		-moz-transform:translateY(100%);
	}
	100%{
		-moz-transform:translateY(100%);
	}
}
@-moz-keyframes down-two {
	0% {
		-moz-transform:translateY(-100%);
	}
	50% {
		-moz-transform:translateY(-100%);
	}
	60% {
		-moz-transform:translateY(0);		
	}
	90% {
		-moz-transform:translateY(0);		
	}
	100%{
		-moz-transform:translateY(100%);
	}
}

/** Webkit Keyframes **/
@-webkit-keyframes down-one {
	0% {
		-webkit-transform:translateY(-100%);
	}
	10% {
		-webkit-transform:translateY(0);
	}
	40% {
		-webkit-transform:translateY(0);
	}
	50% {
		-webkit-transform:translateY(100%);
	}
	100%{
		-webkit-transform:translateY(100%);
	}
}
@-webkit-keyframes down-two {
	0% {
		-webkit-transform:translateY(-100%);
	}
	50% {
		-webkit-transform:translateY(-100%);
	}
	60% {
		-webkit-transform:translateY(0);		
	}
	90% {
		-webkit-transform:translateY(0);		
	}
	100%{
		-webkit-transform:translateY(100%);
	}
}

/*================================
	Move the Marquee Upwards
==================================*/

/** Mozilla Firefox Keyframes **/
@-moz-keyframes up-one {
	0%	{
		-moz-transform:translateY(100%);
	}
	10% {
		-moz-transform:translateY(0);
	}
	40% {
		-moz-transform:translateY(0);
	}
	50% {
		-moz-transform:translateY(-100%);
	}
	100%{
		-moz-transform:translateY(-100%);
	}
}
@-moz-keyframes up-two {
	0% {
		-moz-transform:translateY(100%);
	}
	50% {
		-moz-transform:translateY(100%);
	}
	60% {
		-moz-transform:translateY(0);		
	}
	90% {
		-moz-transform:translateY(0);		
	}
	100%{
		-moz-transform:translateY(-100%);
	}
}

/** Webkit Keyframes **/
@-webkit-keyframes up-one {
	0% {
		-webkit-transform:translateY(100%);
	}
	10% {
		-webkit-transform:translateY(0);
	}
	40% {
		-webkit-transform:translateY(0);
	}
	50% {
		-webkit-transform:translateY(-100%);
	}
	100%{
		-webkit-transform:translateY(-100%);
	}
}
@-webkit-keyframes up-two {
	0% {
		-webkit-transform:translateY(100%);
	}
	50% {
		-webkit-transform:translateY(100%);
	}
	60% {
		-webkit-transform:translateY(0);		
	}
	90% {
		-webkit-transform:translateY(0);		
	}
	100%{
		-webkit-transform:translateY(-100%);
	}
}


.vc_row {
    margin: 0  auto !important;
}
.container-fluid {
    padding: 0;
}
.wrapper a.button.product_type_variable.add_to_cart_button.ajax_add_to_cart_variable {
    display: none;
}

.mfp-bg.mfp-move-horizontal.quick-view-wrapper.mfp-ready {
    z-index: 9999999;
}
.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-move-horizontal.quick-view-wrapper.mfp-ready {
    z-index: 9999999;
}
.woocommerce .woocommerce-ordering span.select2.select2-container.select2-container--default.woo_orderby {
    z-index: 9;
}
.select2-container {
    z-index: 9999999;
}
.woocommerce-checkout #payment ul.payment_methods li img {
    height: 20px;
    object-fit: cover;
}

@media(min-width:1700px){
	.fullwidthbanner-container {
    height: 85vh !important;	
	}
	.fullwidthbanner-container .fullwidthabanner {
    height: 100vh !important;
	}
}

@media(max-width:1600px){
	.section_2 .section_2_category .cat_text {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 30px;
	}
	body .header_container.header-top > .main .header-el, body .header_container.header-bottom > .main .header-el {
    margin-right: 25px;
	}
	body .header_container.header-top nav > ul > li, body .header_container.header-bottom nav > ul > li {
    padding-left: 12px;
    padding-right: 12px;
	}
	.header-col .header-el a {
    font-family: 'AllerBd';
    font-size: 17px;
	}
	.slider-text h2 {
    font-size: 50px !important;
    line-height: 70px !important;
	}
	.slider-text h4 {
    margin-top: 12px !important;
    font-size: 22px !important;
	}
	.slider-text a.btn-style-rounded {
    font-size: 25px !important;
    height: 50px;
    width: 185px !important;
    line-height: 36px !important;
	}
	.singleimage_block {
    margin-top: -46%;
	}
	.section_5 .section_5_right .discount_block h2 {
    font-size: 90px;
	}
	.section_5 .section_5_right .discount_block h3 {
    font-size: 34px;
	}
	.section_5 .section_5_right .discount_block_text h4 {
    font-size: 28px;
	}
	.section_5 .section_5_right .discount_block_text h5 {
    font-size: 20px;
	}
	
}

@media(max-width:1366px){
	.section_4 .cths_block {
    padding: 28px 30px;
	}
	.section_10 .quality-title h2 {
    font-size: 35px;
		}
	.tooltip .tooltiptext {
    width: 160px;
    font-size: 13px;
    left: 0;
    margin-left: -75px;
		}
	}
	
	
@media(max-width:1024px){
	.section_4 .cths_block {
    padding: 25px 30px;
 }
 .section_10 .quality-title h2 {
    font-size: 26px;
	}
	.quality-section .sqs h3 {
    font-size: 17px;
	}
	.section_4 .cths_block .shopnowblock p.cthspara {
    font-size: 17px;
	}
	#copyright .widget ul li a {
    font-size: 15px;
	}
	#copyright p {
    font-size: 15px;
	}
}

@media(max-width:991px){
	.section_10 .quality-title h2 {
    font-size: 22px;
	}
	#copyright .widget ul li a {
    font-size: 12px;
	}
	#copyright p {
    font-size: 11px;
	}
	.section_4 .cths_block .shopnowblock p.cthspara {
    line-height: 28px;
	}
}
@media(max-width:767px){
	.tooltip .tooltiptext {
    margin-left: -142px;
	}
	#customer_login.u-columns .col-1 {
    margin-top: 20px;
	}
	body #customer_login.u-columns .col-1.login-section h5 {
    color: #000;
	}
	body #customer_login.u-columns .login_div h6 {
    color: #262a2c;
	}
	.tooltip {
    right: -16px;
	}
}
	
@media(max-width:480px){
.slider-text h2 {
    font-size: 25px !important;
    line-height: 30px !important;
	}
	.slider-text a.btn-style-rounded {
    font-size: 20px !important;
    height: 40px;
    width: 150px !important;
    line-height: 24px !important;
	}
	body .best_slr_title h2 {
    font-size: 25px;
	}
	.affilated-section .affilate {
    padding: 0 50px;
    margin-bottom: 40px !important;
	}
	.logo-section .affilate {
    margin-bottom: 40px !important;
	}
	.section_10 .quality-title {
    padding: 0 25px;
	}
	.section_10 .quality-title h2 {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
	}
	.footer-widget.center-column {
    max-width: 100%;
	}
	footer#colophon .center-column ul li {
    display: block !important;
	}
	#copyright .widget ul {
    text-align: center;
	}
	#copyright .copyright-widget {
    padding: 0;
    text-align: center;
	}
	.classes_block {
    width: 100% !important;
    margin: 0;
	left: 0 !important;
	}
	.quality-section .sqs p {
    position: static;
	}
	.quality-section {
    padding-bottom: 0;
    padding-top: 0;
	}
	.quality-section .sqs {
    margin-bottom: 20px !important;
	}
}